<div class="mdl-textfield mdl-js-textfield">
  <input ng-model="name" class="mdl-textfield__input" type="text" id="sample1">
  <label class="mdl-textfield__label" for="sample1">Name</label>
</div>

<button ng-click="add(name)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Add
</button>

<ul class="demo-list-control mdl-list">
  <li ng-repeat="person in people track by $index" class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">person</i>
      {{person}}
    </span>
    <span class="mdl-list__item-secondary-action">
      <button ng-click="remove($index)" class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">clear</i>
      </button>
    </span>
  </li>
</ul>

<hr>
<div ng-repeat="relationship in relationships">
  <select ng-model="relationship.source">
      <option ng-repeat="person in people" value="person"  ng-show="member.name !== data.rightMember">{{member.name}}</option>
  </select>
  &nbsp; is &nbsp;
  <select ng-model="data.relationship">
      <option ng-repeat="(relation, value) in relationshipCodes" value="{{relation}}">{{relation}}</option>
  </select>
  &nbsp;  with &nbsp;
  <select ng-model="data.rightMember">
      <option ng-repeat="member in group" value="{{member.name}}" ng-show="member.name !== data.leftMember">{{member.name}}</option>
  </select>
   <div class="mdl-cell mdl-cell--4-col">
      <button ng-click="setRelation()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">+</i>
      </button>
  </div>
</div>
