<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Relationship Graph</span>

      </div>
      <cola people="people" relationships="relationships"></cola>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="input-field">
        <input ng-model="name" id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <a ng-click="add(name)" class="waves-effect waves-light btn">Add</a>
    </div>
    <div class="row">
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header"><span class="card-title">People</span></li>
          <li ng-repeat="person in people track by $index" class="collection-item">
            {{person}}
            <a class="secondary-content"><i ng-click="remove($index)" class="material-icons">clear</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="row">
      <div class="input-field col s4">
        <select ng-model="relationship.source" class="browser-default">
          <option value="" disabled selected>--Source--</option>
          <option ng-repeat="person in people" value="{{person}}" ng-show="person !== relationship.target">{{person}}</option>
        </select>
      </div>

      <div class="input-field col s4">
        <select ng-model="relationship.target" class="browser-default">
          <option value="" disabled selected>--Target--</option>
          <option ng-repeat="person in people" value="{{person}}" ng-show="person !== relationship.source">{{person}}</option>
        </select>
      </div>

      <div class="input-field col s4">
        <select ng-model="relationship.relation" class="browser-default">
          <option value="" disabled selected>--Relation--</option>
          <option ng-repeat="(relation, value) in relationshipCodes" value="{{value}}">{{relation}}</option>
        </select>
      </div>

      <button ng-click="addRelationship(relationship)" class="waves-effect waves-light btn">Add</button>
    </div>

    <div class="row">
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header"><span class="card-title">Relationships</span></li>
          <li ng-repeat="relationship in relationships" class="collection-item">
            {{relationship.source}} and {{relationship.target}} are {{getRelationship(relationship.relation)}}
            <a class="secondary-content"><i ng-click="removeRelationship($index)" class="material-icons">clear</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="input-field col s4">
    Cross Over algorithm
    <select ng-model="algorithm" class="browser-default">
      <option value="Boolean(true)" selected>uniform</option>
      <option value="Boolean(false)">other one</option>
    </select>
  </div>
  <div class="input-field col s4">
  <br>
      <button class="waves-effect waves-light btn" ng-click="submit()">Submit to next step</button>
  </div>
</div>
